.page {
  width: 210mm;
  height: 297mm;
  background-color: white;
  margin: auto;
}

.title_input {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page__header {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  flex-wrap: wrap;
}
.edit {
  cursor: pointer;
  margin-left: 5px;
}
